# Application
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=12345678d*
DB_NAME=free_house
DB_SYNCHRONIZE=false
DB_LOGGING=true

# CORS
FRONTEND_URL_DEV=http://localhost:5173
FRONTEND_URL_PROD=

# Rate Limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
